<div width="100%" height="100%">
<table width="100%" border="0" align="center">
  <tr>
    <td align="center">&nbsp;</td>
    <td align="center">
		  <img width="1034" height="957" usemap="#Map" src="<%=asset_path("frontplaster.png")%>"/>
    </td>
    <td align="center">&nbsp;</td>
  </tr>
</table>

<map name="Map" id="Map">
  <area shape="rect" coords="900,0,1000,30" href="<%=legal_path%>" target="_self" />
  <area shape="rect" coords="340,239,763,292" href="<%=new2_participant_path%>"/>
</map>
</div>
