<div align="center">
	<img width="968" height="327" src="<%=asset_path("marcolegal_top.png")%>" />

<div class="body" style="background-image:url(<%=asset_path("PixelBlanco.png")%>);height:100px;color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;padding:30px">
hola
</div>

<div style="background-image:url(<%=asset_path("botgradient.png")%>);height:35px">
</div>
</div>
