<table width="100%" border="0" align="center">
  <tr>
    <td align="center">&nbsp;</td>
    <td align="center">
      <img width="1084" height="1328" src="<%= asset_path("marcolegal.png")%>" />
    </td>
    <td align="center">&nbsp;</td>
  </tr>
</table>
